@import '../../styles/variables';

.mainLayout {
  display: flex;
  min-height: 100vh;

  &__aside {
    flex: 0 0 300px;
    top: 0;
    position: sticky;
    background: $sidebar-bg;
  }

  &__main {
    padding: 40px 65px;
  }
}
