@import '../../styles/variables';

.mainLayout {
  display: flex;
  min-height: 100vh;

  &__aside {
    flex: 0 0 300px;
    box-sizing: border-box;
    top: 0;
    position: sticky;
    background: $sidebar-bg;
    display: flex;
    flex-direction: column;
    gap: 70px;
    padding: 60px;
  }
  
  &__logo {
    display: flex;
    gap: 20px;
    outline: none;
    @include layout-logo;

    &:hover, &:focus {
      color: $active;
    }
  }

  &__icon {
    width: 40px;
    height: 40px;
  }

  &__main {
    padding: 40px 65px;
  }
}
