@import '../../styles/variables';

.navbar {
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding: 60px;

  &__item {
    display: flex;
    align-items: center;
    text-decoration: none;
    cursor: pointer;
    @include navbar-item;

    &_active {
      color: $navbar-active-item-color;
    }
  }

  &__icon {
    margin-right: 30px;
  }
}
