@import '../../styles/variables';

.navbar {
  display: flex;
  flex-direction: column;
  gap: 40px;

  &__item {
    display: flex;
    align-items: center;
    cursor: pointer;
    @include navbar-item;
    outline: none;

    &_active {
      color: $active;
    }

    &:focus-visible {
      font-weight: bolder;
    }
  }

  &__icon {
    margin-right: 30px;
  }
}
