$light: rgba(255, 255, 255, 1);
$dark: rgba(76, 76, 102, 1);
$active: rgba(83, 185, 234, 1);
$grey: rgba(240, 240, 240, 1);

$background: radial-gradient(123.22% 129.67% at 100.89% -5.6%, $light 0%, $grey 100%);
$border: rgb(225, 225, 225);

$navbar-item-color: rgba(111, 108, 153, 1);

$switcherItem-active-shadow: linear-gradient(113.91deg, #40DDFF 0%, rgba(11, 152, 197, 0.0001) 82.9%);

$negative-dynamics: rgb(208, 43, 43);
$positive-dynamics: rgb(71, 150, 42);

$preloader: rgba(83, 185, 234, 1);

$sidebar-bg: linear-gradient(180deg, rgba(255, 246, 240, 0.38) 0%, rgba(251, 232, 233, 0.31) 57.44%, rgba(252, 252, 255, 0.57) 100%);

$input-border: rgb(200, 200, 200);
$input-border-focused: rgb(140, 140, 140);
$input-placeholder: rgb(150, 150, 150);

@mixin billet-type() {
  font-weight: 400;
  font-size: 16px;
  color: $dark;
  opacity: 0.7;
  margin-bottom: 7px;
}

@mixin billet-from() {
  font-weight: 600;
  font-size: 28px;
  color: $dark;
}

@mixin billet-from-hovered() {
  color: $active;
}

@mixin billet-value() {
  font-weight: 600;
  font-size: 28px;
  text-align: right;
  color: $dark;
  opacity: 0.7;
}

@mixin layout-logo() {
  font-weight: 700;
  font-size: 22px;
  color: $dark;
}

@mixin navbar-item() {
  font-weight: 400;
  font-size: 18px;
  letter-spacing: 0.5px;
  color: $navbar-item-color;
}

@mixin dashboard-title() {
  font-weight: 700;
  font-size: 30px;
  color: $dark;
  opacity: 0.9;
}

@mixin dashboard-subtitle() {
  font-weight: 400;
  font-size: 13px;
  color: $dark;
  opacity: 0.7;
}

@mixin switcherItem-value($active: $dark) {
  font-weight: 500;
  font-size: 17px;
  color: $active;
}

@mixin switcherItem-symbol($active: $dark) {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 12px;
  color: $active;
  opacity: 0.5;
}

@mixin switcherItem-dynamics($active: $dark) {
  font-weight: 400;
  font-size: 11px;
  color: $active;
}

$radiobutton-label-active-color: rgba(76, 76, 102, 0.5);
$radiobutton-label-active-color: rgba(76, 76, 102, 0.5);

@mixin radiobutton-label() {
  background-color: $light;
  color: $dark;
  font-size: 16px;
  font-weight: 700;
}

@mixin radiobutton-label-checked() {
  background-color: $active;
  color: $light;
}

@mixin tabed() {
  background: linear-gradient(113.91deg, $active 0%, $dark 82.9%);
}

@mixin wrapper() {
  border: 1px solid $border;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  border-radius: 12px;
}