@import "../../styles/variables";

.button {
  width: 100%;
  background-color: inherit;
  appearance: none;
  cursor: pointer;
  padding: 10px;
  transition: all 0.1s ease-in-out;
  white-space: nowrap;
  font-weight: 600;
  font-size: 18px;
  color: $dark;
  border: 1px solid $border;
  border-radius: 8px;

  &:hover:not([disabled]),
  &:active:not([disabled]),
  &:focus-visible:not([disabled]) {
    box-shadow: 0 2px 6px -2px $active;
    color: $active;
    border: 1px solid $active;
  }

  &:active:not([disabled]) {
    transform: scale(0.9);
  }

  &:focus {
    outline: none;
  }

  &:disabled {
    cursor: not-allowed;
    filter: grayscale(80%);
  }

}