.switcher {
  display: flex;
  gap: 10px;

  &__option {
    cursor: pointer;
  }

  &__radio {
    clip: rect(0 0 0 0);
    height: 1px;
    overflow: hidden;
    position: absolute;
    width: 1px;
  }
}
