@import "../../styles/variables";

.contentLayout {
  &__header {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 40px;
  }

  &__title {
    @include converter-title;
  }

  &__subtitle {
    @include converter-subtitle;
  }
}
