@import "../../styles/variables";

.field {
  display: flex;
  gap: 20px;
  align-items: center;
  padding: 10px;

  &__icon {
    flex-shrink: 0;
    height: 36px;
    width: 36px;
    color: $dark;
  }
}
