@import '../../styles/variables';

.converter {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
  gap: 25px;

  width: 380px;
  height: 510px;
  @include wrapper;

  &__icon {
    color: $active;
    width: 50px;
    height: 50px;

    &_reload {
      animation: spin 4s linear infinite;
    }
  }
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}

.converterItem {
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  gap: 30px;
  padding: 12px 24px;
  width: 100%;
  height: 82px;
  border: 1px solid $grey;
  border-radius: 8px;

  &__type {
    @include billet-type;
  }

  &__value {
    @include billet-value;
    overflow: hidden;
    text-overflow: ellipsis;
    align-self: flex-end;
  }
}
