@import '../../styles/variables';

.daysbar {
  display: flex;
  gap: 10px;

  &__item {
    cursor: pointer;
    border-radius: 30px;
    padding: 10px 17px;
    transition: all 0.3s ease-in-out;

    @include radiobutton-label;

    &_active {
      @include radiobutton-label-checked;
    }
  }
}